.App{
    align-items: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 70px;
  }
  
  .App-header {
    background-color: #222;
    height: 70px;
    padding: 20px;
    color: white;
  }
  
  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  #input{
    width: 800px;
    height: 30px;
    font-size: 6mm;
    border: 1px solid lightgray;
    padding: 3px;
    margin: 2px;
    box-shadow: 2px 2px 1px lightblue;
    border-radius: 5px;
  }
  
  .addbutton{
    font-size: 6mm;
    width: 100px;
    height: 40px;
    border: 50px;
    margin-left: 10px;
    background-color: lightblue;
    box-shadow: 0px 5px 20px rgb(202, 202, 202);
  border-radius: 5px;
  }
  .editbutton{
    font-size: 6mm;
    box-shadow: 2px 2px 1px lightblue;
  border-radius: 10px;
  bottom: 0px;
  right: 0px;
  }
  
  .todocard{
  width: 750px;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
  padding:20px;
  font-size: 5mm;
  border-radius: 10px;
  background-color: rgb(255, 255, 185);
  box-shadow: 0px 5px 20px rgb(202, 202, 202);
  }
  
  .todocontainer{
      width: 820px;
       height: 500px;
       padding: 20px;
       margin: auto;
  
        box-shadow: 0px 0px 40px rgb(202, 202, 202);
        overflow-y: auto;
  }