.leftposition {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(47, 13, 61);
  width: inherit
  
}

.hidetag{
  display: none;
}

li {
  float: left;
  font-size: 18px; 

}

li a {
  display: block;
  color: rgb(251, 251, 251);
  text-align: center;
  font-size: 18px; 
  padding: 10px 30px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: rgb(113, 47, 167);
  float: right;
}
